h1 {
    text-align: center;
    background-color: rgb(108, 108, 219);
}

.numeriGeneratiDiv {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.input-section {
    width: 30%;
    justify-content: center;
    padding: 20px 0;
}

input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    color: red;
    font-weight: bold;
}

.alert {
    background-color: green;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

.redAlert {
    background-color: red;
    color: black;
}